/* Class for the lists container. It should be added to a div that wraps both of your joke lists. */
.joke-lists-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  font-size: 2rem;
  /* Class for a single list container. It should be added to a div that wraps a every element for a single list.*/
}

.joke-lists-container .joke-list-container {
  flex-basis: 45%;
  width: 100%;
  /* Class for the count of told jokes. Add it to a <span> element within the <h2> for Told */
}
.joke-lists-container .joke-list-container .told-count {
  color: var(--col-5);
}
.joke-lists-container .joke-list-container {
  /* Class for the count of untold jokes. Add it to a <span> element within the <h2> for Untold */
}
.joke-lists-container .joke-list-container .untold-count {
  color: var(--col-0);
}
.joke-lists-container .joke-list-container {
  /* Adds styles for both the told-count class and the untold-count class */
}
.joke-lists-container .joke-list-container .told-count,
.joke-lists-container .joke-list-container .untold-count {
  float: right;
}
