/* Targets all h2s in the app. Intended for the "Add Joke", "Untold", and "Told" headers */
h2 {
  border: none;
  border-bottom: 3px solid var(--col-2);
  padding: 0.25rem 0;
}

.joke-lists-container .joke-list-container {
  flex-basis: 45%;
  width: 100%;
  /* Class for the count of told jokes. Add it to a <span> element within the <h2> for Told */
}
.joke-lists-container .joke-list-container .told-count {
  color: var(--col-5);
}

.joke-lists-container .joke-list-container .untold-count {
  color: var(--col-0);
}

.joke-lists-container .joke-list-container .told-count,
.joke-lists-container .joke-list-container .untold-count {
  float: right;
}

/* Class for an individual <li> */
.joke-list-item {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Class for the joke text. Add it to a <p> element */
}
.joke-list-item .joke-list-item-text {
  margin: 0;
  padding: 0.25rem;
  font-size: 1rem;
  text-wrap: wrap;
  flex-basis: 75%;
}

/* Classes for the action buttons. Wrap the buttons in their own div */
/* The toggle class is for the buttons to mark a joke as told or untold */

.joke-list-item .joke-list-action-delete,
.joke-list-item .joke-list-action-toggle {
  border: none;
  padding: 5px;
  margin-left: 0.25rem;
  background: transparent;
  color: var(--col-6);
}

/* Adds styling for when the user hovers over the delete button */

.joke-list-item .joke-list-action-delete :hover {
  color: var(--col-0);
  cursor: pointer;
  transition: all 0.1s ease-in;
  background-color: var(--col-5);
}

/* Adds styling for when the user hovers over one of the toggle buttons */

.joke-list-item .joke-list-action-toggle :hover {
  color: var(--col-1);
  background-color: var(--col-6);
  cursor: pointer;
  transition: all 0.1s ease-in;
}
